<div class="container">
  <h1 class="text-start mb-4">Các chiến dịch cứu trợ</h1>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div *ngFor="let campaign of campaigns" class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">
                <span class="fw-bold mb-2">{{ campaign.name }}</span>
              </p>
              <p class="card-text">
                <span class="fw-bold mb-2">Tổ chức bởi: {{ campaign.organizationName }}</span>
              </p>
              <p>
                <span class="text-muted">Địa điểm: {{ campaign.location }}</span> -
                <span class="text-muted">Ngày bắt đầu: {{ campaign.startDate }}</span>



              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-success">
                    Đóng góp
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-primary">
                    Chi tiết
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>