<div class="container-fluid">
  <h3>{{ campaign.name }}</h3>

  <div class="mb-1 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Số dư</label>
    <div class="col-sm-10">
      <input
        type="text"
        readonly
        class="form-control-plaintext text-success fw-bold h6"
        value="{{ campaign.accountBalance | number : '1.0-0' }}"
      />
    </div>
  </div>

  <div class="mb-1 row">
    <label for="staticEmail" class="col-sm-2 col-form-label"
      >Số người đăng ký</label
    >
    <div class="col-sm-10">
      <input
        type="text"
        readonly
        class="form-control-plaintext text-success fw-bold h6"
        value="{{ subscribers.length | number : '1.0-0' }}"
      />
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Họ tên</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Email</th>
        <th scope="col">Trạng thái</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sub of subscribers">
        <td>{{ sub.fullName }}</td>
        <td>{{ sub.phoneNumber }}</td>
        <td>{{ sub.address }}</td>
        <td>{{ sub.email }}</td>

        <td>
          <div
            *ngIf="sub.subscribeStatus === 'Pending'"
            class="text-warning fw-bold"
          >
            {{ sub.subscribeStatus }}
          </div>
          <div
            *ngIf="sub.subscribeStatus === 'Verified'"
            class="text-success fw-bold"
          >
            {{ sub.subscribeStatus }}
          </div>
          <div
            *ngIf="sub.subscribeStatus === 'Rejected'"
            class="text-danger fw-bold"
          >
            {{ sub.subscribeStatus }}
          </div>
        </td>

        <td>
          <div *ngIf="sub.isVerified">
            <button
              class="btn btn-sm btn-outline-primary"
              [disabled]="sub.subscribeStatus === 'Pending'"
              (click)="disburse(campaign, sub)"
            >
              Chi hỗ trợ
            </button>
          </div>
          <div *ngIf="!sub.isVerified">
            <button
              class="btn btn-sm btn-outline-success me-2"
              [disabled]="sub.subscribeStatus === 'Rejected'"
              (click)="approveConfirmation(campaign, sub)"
            >
              Phê duyệt
            </button>
            <button
              class="btn btn-sm btn-outline-danger me-2"
              [disabled]="sub.subscribeStatus === 'Rejected'"
              (click)="rejectConfirmation(campaign, sub)"
            >
              Từ chối
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
